spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Food_Ordering_System?createDatabaseIfNotExist=true
    username: root
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: update
    show_sql: true